* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  min-width: max-content;
  color: #333;
  transition: all 0.5s;
}

.not-supported {
  display: none;
}

.darkmodetoggle {
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #222;
  background-color: #f9dcc4;
  transition: all 0.5s;
  opacity: 0.8;
}

.darkmodetoggle:hover {
  opacity: 1;
}

.darkmodetoggle:not(:focus-visible) {
  outline: none;
}

.rotate {
  transform: rotate(360deg);
}

.darkmodetoggle img {
  margin: 6px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  align-items: center;
}

.start-text {
  font-size: 1.5rem;
  font-weight: 500;
  animation: start-text 1s infinite ease-in-out;
}

.start-text span {
  color: crimson;
  font-weight: bold;
}

@keyframes start-text {
  50% {
    transform: translateY(3px);
  }
}

.timer,
.score {
  margin: 20px;
  width: 4em;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.5s;
}

.counter-display {
  color: #fcbf49;
  font-size: 2rem;
  border: 4px solid #f9dcc4;
  background-color: #222;
}

.combo-x2 {
  transform: scale(1.15);
  position: relative;
}
.combo-x2 span:last-child {
  color: #70e000;
  border-color: #99d98c;
  box-shadow: 0 4px 6px #aaa;
}

.combo-x2::after,
.combo-x4::after {
  position: absolute;
  display: flex;
  font-family: "Comic Sans MS", "Comic Neue", cursive;
  transform: rotate(-10deg);
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 50%;
  left: 110%;
  bottom: 10%;
}

.combo-x2::after {
  content: "x2 !";
  color: #38b000;
}

.combo-x4 {
  transform: scale(1.3);
  position: relative;
}
.combo-x4 span:last-child {
  color: #f94144;
  border-color: #df7373;
  box-shadow: 0 7px 8px #aaa;
}
.combo-x4::after {
  content: "x4 !!!";
  color: #f94144;
}

.container {
  list-style: none;
  padding: 20px;
  max-width: max-content;
  height: max-content;
  display: grid;
  gap: 4px;
  margin: 20px auto;
  grid-template-columns: repeat(10, 56px);
  grid-template-rows: repeat(3, 48px);
}

.container li {
  background-color: #fafafa;
  box-shadow: 0 2px 5px #888, 1px 5px 3px #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #658575;
}

.container .bad {
  font-family: "Comic Sans MS", "Comic Neue", cursive;
  font-weight: bold;
  color: crimson;
}

.endgame {
  margin: auto;
  /* display: flex; */
  display: none;
  gap: 1em;
  padding: 2em;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

.endgame form {
  background-color: #222;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 1px 3px 2px #666;
  margin-top: 2em;
  display: none;
}

.endgame form label {
  color: #fafafa;
  font-size: 1rem;
  font-weight: 300;
}

.endgame #username {
  all: unset;
  background-color: #fafafa;
  padding: 0.3em 0.4em;
  display: block;
  margin: 0.5em auto;
  font-size: 1.25rem;
}

.endgame #username:focus {
  outline: 2px solid #fcbf49;
  outline-offset: 2px;
}

#save-score-button {
  all: unset;
  background-color: #fafafa;
  font-size: 1rem;
  display: block;
  border: 2px solid #222;
  border-radius: 5px;
  background-color: #a9d6e5;
  padding: 0.3em 0.8em;
  margin: 1em 0 -1.5em auto;
  cursor: pointer;
  box-shadow: 0 3px 2px #666;
  transition: all 0.2s;
}

.final-score {
  color: crimson;
  font-weight: bold;
}

#restart {
  all: unset;
  width: 100px;
  padding: 0.5em 1em;
  border-radius: 6px;
  background-color: #a9d6e5;
  color: #222;
  box-shadow: 0 3px 2px #666;
  cursor: pointer;
  transition: all 0.2s;
}

#restart:focus,
#restart:hover,
#save-score-button:focus,
#save-score-button:hover {
  background-color: #fcbf49;
  transform: translateY(2px);
  box-shadow: 0 1px 1px #666;
}

/* Leaderboard */
.leaderboard {
  list-style: none;
  width: 300px;
}

.leaderboard-container {
  margin: 2em;
  display: none;
}

.leaderboard-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  text-align: center;
}

.leaderboard li {
  display: flex;
  font-size: 1rem;
  border: 1px solid #22222255;

  border-radius: 5px;
  margin-bottom: 2px;
  position: relative;
}

.leaderboard li::before {
  content: "";
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  right: 102%;
  align-self: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard li:first-of-type::before {
  background-color: #c9b03788;
  content: "1";
}

.leaderboard li:nth-of-type(2)::before {
  background-color: #b4b4b488;
  content: "2";
}
.leaderboard li:nth-of-type(3)::before {
  background-color: #ad8a5688;
  content: "3";
}

.leaderboard li:nth-of-type(odd) {
  background-color: #fcfcfc;
}
.leaderboard li:nth-of-type(even) {
  background-color: #efefef;
}

.leaderboard-score {
  font-weight: bold;
  width: 4ch;
  text-align: right;

  border-right: 2px dashed #aaa;
}

.leaderboard li span {
  padding: 6px;
}

/* Animations */
.anim-wrong-key {
  animation: anim-wrong-key 0.1s 3;
}

@keyframes anim-wrong-key {
  25% {
    transform: rotate(2deg) translateX(2px);
  }
  75% {
    transform: rotate(-2deg) translateX(-2px);
  }
}

.anim-right-key {
  animation: anim-right-key 0.2s forwards;
}

@keyframes anim-right-key {
  to {
    transform: scale(0);
  }
}

.fade-out {
  animation: fade-out 0.3s forwards;
}

@keyframes fade-out {
  to {
    opacity: 0;
    display: none;
  }
}

/* Media query */
@media (max-width: 832px) {
  body {
    min-width: initial;
  }

  .game-header,
  .container,
  .endgame {
    display: none !important;
  }

  .not-supported {
    display: block;
    text-align: center;
    padding: 2em;
  }

  .heart {
    width: 100px;
    margin: 2em auto;
    position: relative;
    animation: heart infinite both ease-in-out 1s;
  }

  .heart div {
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: pink;
  }

  .left {
    transform: rotate(-45deg);
    left: 5px;
    border-radius: 50px 50px 0 0;
  }

  .right {
    transform: rotate(45deg);
    right: 5px;
    border-radius: 50px 50px 0 0;
  }
}

/* Below is the dark mode styling */
body.darkmode {
  background-color: #151515;
  color: #fafafa;
}

body.darkmode .container li {
  background-color: #333;
  box-shadow: 0 3px 2px #666;
  color: #eafad0;
}

body.darkmode .bad {
  color: rgb(255, 94, 83) !important;
}

body.darkmode .final-score {
  color: rgb(255, 94, 83);
}

body.darkmode .endgame form {
  background-color: #333;
  color: #222;
  box-shadow: 0 3px 4px black;
}

body.darkmode #save-score-button,
body.darkmode #restart {
  box-shadow: 0 2px 3px -2px black;
}

body.darkmode #restart:hover,
body.darkmode #restart:focus,
body.darkmode #save-score-button:hover,
body.darkmode #save-score-button:focus {
  box-shadow: 0 1px 2px -2px black;
}

body.darkmode .leaderboard li:nth-of-type(odd) {
  background-color: #383838;
}
body.darkmode .leaderboard li:nth-of-type(even) {
  background-color: #323232;
}

body.darkmode .combo-x2 span:last-child {
  box-shadow: 0 3px 3px #444;
}
body.darkmode .combo-x4 span:last-child {
  box-shadow: 0 4px 4px #333;
}
